.input {
  display: block;
  margin: 2rem auto;
  padding-left: 1rem;
  width: calc(100% - 1.5rem);
  height: 4rem;
  font-size: 2rem;
  border: 0.15rem solid rgb(161, 161, 161);
  border-radius: 0.5rem;
  @media screen and (max-width: 650px) {
    height: 1.5rem;
    font-size: 1rem;
  }
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

