.authPage_container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
  min-height: calc(100vh - 116px);
}

.authPage_window {
  margin: auto 0;
}

.authLabel {
  input {
    display: block;
    margin: 0 auto;
    width: calc(100% - 1rem);
    height: 2rem;
    padding-left: 0.5rem;
    border: 0.15rem solid rgb(161, 161, 161);
    border-radius: 0.5rem;
    &:active {
      outline: none;
    }
    &:focus {
      outline: none;
    }
    &::placeholder {
      padding-left: 2px;
    }
    @media screen and (max-width: 650px) {
      height: 1.5rem;
    }
  }
  .errorMessage {
    color: rgba(252, 63, 63, 0.644);
    font-size: 0.8rem;
    height: 1rem;
    margin-left: 1rem;
    transform: translateY(30%);
  }
}

.fieldSet {
  min-width: 320px;
  border: none;
  @media screen and(max-width: 400px) {
    min-width: 240px;
    padding: 0;
  }
  
  h2 {
    @media screen and (max-width: 450px) {
      margin: 0;
    }
  }
}

.authName {
  display: flex;
  @media screen and (max-width: 350px) {
    height: 2.5rem;
  }
}
