.simulator {
  display: flex;
  &_nav {
    margin: 2rem;
    width: 15rem;
  }
  &_nav-item {
    text-decoration: none;
    color: #000;
    line-height: 1.2rem;
    font-size: 1.2rem;
    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    padding: 0;
  }
  li {
    list-style-type: none;
    line-height: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.192);
    border-radius: 0.3rem;
    margin: 1px 0;
    text-align: center;
  }
  .active {
    color: red;
  }
}
