.container_test {
  margin: 0 auto;
  max-width: 1250px;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 116px);
  @media screen and (max-width: 1250px) {
    margin: 4rem;
  }
  @media screen and (max-width: 1050px) {
    margin: 2rem;
  }
  @media screen and (max-width: 650px) {
    margin: 0;
    min-height: calc(100vh - 97.5px);
  }
  
}

.test_window {
  margin: auto;
  @media screen and (max-width: 500px) {
    padding: 0 1rem;
  }
}

.wrap {
  margin: 1.5rem 0;
  @media screen and (max-width: 400px) {
    margin: 1rem 0;
  }
}

.simulator_area {
  margin: 2rem;
  @media screen and (max-width: 650px) {
    margin: 0.2rem;
  }

  span {
    font-size: 5rem;
    margin: 0 2rem;
    @media screen and (max-width: 1150px) {
      font-size: 4rem;
    }
    @media screen and (max-width: 992px) {
      font-size: 3rem;
    }
    @media screen and (max-width: 792px) {
      font-size: 2.5rem;
      margin: 0 1rem;
    }
    @media screen and (max-width: 550px) {
      font-size: 2rem;
      margin: 0 0.8rem;
    }
    @media screen and (max-width: 400px) {
      font-size: 1.4rem;
      margin: 0 0.4rem;
    }
  }
}
.value_area {
  padding-left: 0.2rem;
  height: 5.5rem;
  border: 0.1rem solid rgb(161, 161, 161);
  border-radius: 0.5rem;
  vertical-align: top;
  font-size: 5rem;
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
    transition: all 0.2s;
    border: 0.1rem solid rgba(255, 198, 41, 0.658);
    box-shadow: 0px 1px 0px rgb(255, 198, 41), 0px -1px 0px rgb(255, 198, 41),
      1px 0px 0px rgb(255, 198, 41), -1px 0px 0px rgb(255, 198, 41);
  }
  @media screen and (max-width: 1150px) {
    font-size: 4rem;
  }
  @media screen and (max-width: 992px) {
    font-size: 3rem;
    height: 4rem;
  }
  @media screen and (max-width: 792px) {
    font-size: 2.5rem;
    height: 3rem;
  }
  @media screen and (max-width: 550px) {
    font-size: 2rem;
    height: 2rem;
  }
  @media screen and (max-width: 400px) {
    font-size: 1.2rem;
    height: 1.3rem;
  }
}

.answer {
  font-size: 2rem;
  text-align: center;
  @media screen and (max-width: 400px) {
    font-size: 1rem;
  }
}

.error_answer {
  font-size: 2rem;
  text-align: center;
  @media screen and (max-width: 400px) {
    font-size: 1rem;
  }
}

.check {
  height: 3rem;
  width: 50%;
}

.help {
  height: 3rem;
  width: calc(50% - 15px);
  margin-right: 0;
}