.errorMessage_body {
  z-index: 9999;
  position: fixed;
  display: flex;
  align-items: center;
  top: 10%;
  right: 5%;
  opacity: 1;
  text-align: center;
  background: #ff6f00da;
  box-shadow: (1px 1px 6px rgba(0, 0, 0, 0.548));
  width: 350px;
  border-radius: 5px;
  font-size: 0.8rem;
  min-height: 45px;
  animation: moveLarge 0.5s 1 ease;
  @media screen and (max-width: 780px) {
    top: 87vh;
    right: initial;
    left: 5%;
    animation: moveSmall 0.5s 1 ease;
  }
  @media screen and (max-width: 550px) {
    width: 100vw;  
    top: initial;
    bottom: 0;
    right: initial;
    left: 0;
    border-radius: 0;
    animation: moveExtraSmall 0.6s 1 ease;
  }
  span {
      margin: 0 auto;
  }
}
@keyframes moveLarge {
  0% {
    top: 30%;
    right: 5%;
    opacity: 0.5;
  }
  100% {
    top: 10%;
    right: 5%;
    opacity: 1;
  }
}
@keyframes moveSmall {
  0% {
    top: 100vh;
    right: 5%;
    opacity: 0.5;
  }
  100% {
    top: 87vh;
    left: 5%;
    opacity: 1;
  }
}
@keyframes moveExtraSmall {
  0% {
    bottom: -15vh;
    opacity: 0.5;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
