.window {
  margin: 4rem auto;
  @media screen and (max-width: 768px) {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  @media screen and (max-width: 450px) {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  &_footer {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px 10px 0 0;
    box-shadow: inset 2px 2px 25px rgba(78, 77, 77, 0.05);
    height: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
      box-shadow: none;
      background-color: rgba(240, 243, 243, 0.062); 
      border: none; 
    }
    @media screen and (max-width: 400px) {
      height: 1.2rem;
      border-radius: 6px 6px 0 0;
    }
  }
  &_container {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0 0 10px 10px;
    padding: 2rem;
    background-color: rgba(240, 243, 243, 0.062);
    @media screen and (max-width: 1050px) {
      padding: 1rem;
    }
    @media screen and (max-width: 768px) {
      border: none; 
    }
    @media screen and (max-width: 450px) {
      padding: 0.6rem;
    }
  }
  @media screen and (max-width: 1050px) {
    margin: 1rem 1rem;
  }
  @media screen and (max-width: 650px) {
    margin: 1rem 1rem;
  }
}
.second {
  
  @media screen and (max-width: 1050px) {
    margin: 0 1rem 1rem 1rem;
  }
  @media screen and (max-width: 650px) {
    margin: 0 1rem 1rem 1rem;
  }
}
.dots {
  position: relative;
  height: 100%;
  width: 100%;
  &_dot {
    position: absolute;
    content: "";
    left: 2.5rem;
    top: 8px;
    background-color: #ffd400;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    @media screen and (max-width: 400px) {
      top: 4px;
      width: 10px;
      height: 10px;
      left: 2rem;
    }
  }
  &::before {
    content: "";
    position: absolute;
    left: 1rem;
    top: 8px;
    background-color: #ff4b4bee;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    @media screen and (max-width: 400px) {
      top: 4px;
      width: 10px;
      height: 10px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    left: 4rem;
    top: 8px;
    background-color: rgb(15, 252, 15);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    @media screen and (max-width: 400px) {
      top: 4px;
      width: 10px;
      height: 10px;
      left: 3rem;
    }
  }
}
