.Select {
  margin-bottom: 15px;
}

.Select label {
  margin: 2rem 0;
}

.Select select {
  display: block;
  margin: 0 auto;
  width: calc(100% - 0.5rem);
  height: 2rem;
  border: 0.15rem solid rgb(161, 161, 161);
  border-radius: 0.5rem;
  @media screen and (max-width: 650px) {
    height: 1.5rem;
  }
  display: block;
  box-sizing: border-box;
  outline: none;
  transition: all 300ms ease-in-out;
}
