.Select {
  margin-bottom: 15px;
}

.Select label {
  margin: 2rem 0;
}

.Select select {
  display: block;
  margin: 0 auto;
  width: calc(100% - 0.5rem);
  height: 2rem;
  border: none;
  border-bottom: 0.15rem solid rgb(161, 161, 161);
  display: block;
  box-sizing: border-box;
  outline: none;
  transition: all 600ms ease-in-out;
  
}

.Select select option{
background: unset;
color: #000;
}
