
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", "sans-serif";
  min-height: 100%;
  position: relative;
}

input {
  background: unset;
  color: currentcolor;
}

select {
  background: unset;
  color: currentcolor;
}
#root {
  position: relative;
}

.app {
  min-height: calc(100vh - 116px);
  margin: 0 auto;
  margin-top: 68px;
 // margin-bottom: 48px;
  background-color: #f6feff27;
  @media screen and (max-width: 650px) {
    margin-top: 48px;
    min-height: calc(100vh - 98px);
  }
}

footer {
  width: 100%;
  height: 3rem;
}

.app_footer {
  height: 100%;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.459);
}

.copy {
  position: relative;
  top: 35%;
  margin: 0 2rem;
}

a:active {
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent
}