.checkbox {
  margin: 1rem 0;
  text-align: end;
  @media screen and (max-width: 350px) {
    margin: 0.5rem 0;;
  }
  &_text {
    font-size: 1rem;
    opacity: 0.9;
    padding: 0.5rem;
    @media screen and (max-width: 450px) {
        font-size: 0.9rem;
      }
  }
  &_check {
    position: relative;
    overflow: hidden;
    z-index: 2;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid black;
    background: rgb(255, 255, 255);
    opacity: 0.1;
    border-radius: 3px;
    box-sizing: border-box;
    background-clip: content-box;
    transform: translateY(2px);
    @media screen and (max-width: 450px) {
        transform: translateY(4px);
      }
  }
  input[type="checkbox"]:checked {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid black;
    transform: translateY(2px);
  }
  input[type="checkbox"]:focus {
    outline: none;
  }
  input[type="checkbox"]:checked + label::before {
    content: "";
    position: absolute;
    left: -16px;
    top: 11px;
    width: 8px;
    height: 2px;
    background: rgb(10, 1, 1);
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
  }
  input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    left: -12px;
    top: 10px;
    width: 11px;
    height: 2px;
    background: rgb(10, 1, 1);
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
  }
  label {
    position: relative;
  }
}
