.container {
    width: 360px;
    height: auto;
}
.slick-slide img {
    margin: auto;
    width: 360px;
    height: 240px;
  }
.slick-arrow.slick-next {
    background: lightcoral;
    color: #000;
}
.slick-arrow.slick-prev {
    background: lightcoral;
}